<div class="container py-4">
  <h1 class="title">صندوق الواردات</h1>
  <span
    class="line d-block rounded-pill w-100 position-relative mt-3 mb-4"
  ></span>
  <button type="button" class="btn text-white bt-bg mb-3">طباعة</button>
  <!-- end-head -->
  <div class="contant border border-secondary-subtle p-3 rounded">
    <div class="position-relative birth">
      <label for="birthday" class="fw-bold fs-5">التاريخ</label>
      <input
        type="date"
        class="rounded border border-secondary-subtle p-2 me-3"
        id="birthday"
        name="birthday"
      />
    </div>
    <div class="position-relative my-3">
      <label for="" class="fw-bold fs-5">رقم القيد</label>
      <input
        type="text"
        class="rounded border border-secondary-subtle p-1 me-2 num"
      />
    </div>
    <div class="position-relative">
      <label for="" class="fw-bold fs-5">السيد الاستاذ</label>
      <input
        type="text"
        class="rounded border border-secondary-subtle p-1 me-2"
      />
    </div>
    <p class="fw-bold fs-4 my-4 position-relative st-paragrph">
      رئيس مصلحة الجمارك المصرية
    </p>
    <p class="fw-bold fs-4 my-4 font">تحية طيبة وبعد :</p>
    <p class="fw-bold fs-4 my-4 font">
      في إطار التعاون الوثيق بين مصلحـة الجمارك المصرية وجهـاز شـئون البيئة,
      يطيب لي الإشارة إلى الطلـب المـقدم من السيـد /
    </p>
    <form action="" class="position-relative my-3">
      <input
        type="text"
        class="rounded border border-secondary-subtle p-1 me-2"
        [value]="plantRequest?.company.manager_name"
      />
      <label for="" class="fw-bold fs-5">رقم قومي</label>
      <input
        type="text"
        class="rounded border border-secondary-subtle p-1 me-2"
      />
      <span class="me-2 fw-bold fs-4 font"
        >للسماح له بتصدير كمية من الفحم النباتي</span
      >
    </form>
    <span class="fw-bold fs-4 my-4 font">
      (أقراص فحم نباتى مضغوط ) وذلك بعد حصوله على رخصة تشغيل</span
    >
    <label for="" class="fw-bold fs-5 font">برقم</label>
    <input
      type="text"
      class="rounded border border-secondary-subtle p-1 me-2"
    />
    <form action="" class="position-relative mt-3 mb-5">
      <label for="birthday" class="fw-bold fs-5">بتاريخ</label>
      <input
        type="date"
        class="rounded border border-secondary-subtle p-2 me-3"
        id="birthday"
        name="birthday"
      />
      <span class="me-2 fw-bold fs-4 font"
        >صادرة عن الهيئة العامة للتنمية الصناعية</span
      >
    </form>
    <span class="fw-bold fs-4 my-4 font"
      >وفي هذا الصدد ، فإنه لا مانع لدى جهــاز شئــون البيئة من قيام السيد
      /</span
    >
    <input
      type="text"
      class="rounded border border-secondary-subtle p-1 me-2"
    />
    <span class="fw-bold fs-4 me-3 font">بتصدير كمية فحم نباتي</span>
    <hr />

    <div class="position-relative mt-5 mb-3">
      <label for="" class="fw-bold fs-5 line-p"
        >وذلك لكمية
        <input
          type="text"
          class="rounded border border-secondary-subtle p-1 me-2 num"
          [value]="plantRequest?.requestDetail[0].amountOfCoalPlanInTon"
        />
        طن -
      </label>
      <span class="line-p">- خلال ثلاثة أشهر من تاريخ الموافقة،</span>
      <span class="line-p"
        >علي أن يتم تصدير الفحم معبأ في عبوات مغلقة وداخل حاويات</span
      >
    </div>
    <form action="" class="position-relative">
      <label for="" class="fw-bold fs-5 border-bottom pb-1 border-black"
        >من خلال مواني</label
      >
      <input
        type="text"
        class="rounded border border-secondary-subtle p-1 me-2"
      />
      <span class="border-bottom pb-1 border-black"
        >ويجوز لسيادته التصدير بنفسه أو من خلال وكيل (منشأة أو أكثر) على ألا تزيد
        الكمية</span
      >
    </form>
    <p class="fw-bold fs-5 my-4 font border-bottom pb-1 border-black w-p">
      ويجوز لسيادته التصدير بنفسه أو من خلال وكيل (منشأة أو أكثر) على ألا تزيد
      الكمية
    </p>
    <p class="fw-bold fs-5 my-4 font">
      كما يرجى الإحاطة بأنه قام بسداد الرسوم المقررة بالقانون رقم (105) لسنة
      2015 بشأن تعديل أحكام قانون البيئة الصادر بالقانون
    </p>
    <p class="fw-bold fs-5 my-4 font">
      رقم (4) لسنة 1994, والمحددة بقرار السيد الأستاذ الدكتور وزير البيئة رقم
      (85) لسنة 2017 بإيصال سداد مطالبة في خزينة جهاز شئون
    </p>
    <form action="" class="position-relative my-3">
      <label for="" class="fw-bold fs-5">البيئة رقم</label>
      <input
        type="text"
        class="rounded border border-secondary-subtle p-1 me-2"
        [value]="plantRequest?.company.accept_eea_number"
      />
      <label for="" class="fw-bold me-4 fs-5">بتاريخ</label>
      <input
        type="date"
        class="rounded border border-secondary-subtle p-1 me-2"
      />
    </form>
    <p class="fw-bold fs-5 my-4 font">
      .لذا أكون شاكراً تفضلكم بالإحاطة واتخاذ اللازم في هذا الشأن
    </p>
    <p class="fw-bold fs-5 my-3 font text-center">
      وتفضلوا بقبول فائق الاحترام والتقدير،،
    </p>
    <div class="boxs mt-5 d-flex justify-content-around">
      <div class="box">
        <p class="fw-bold fs-5 my-4 font">رئيس وحدة الفحم النباتى</p>
        <p class="fs-5 my-4 p2 c-22">أ/ كارم بسيونى يوسف</p>
      </div>
      <div class="box">
        <p class="fw-bold fs-5 my-4 font">المشرف على وحدتي الفحم</p>
        <p class="fs-5 my-4 p2 c-22">ك/ محمد فاروق حسين</p>
      </div>
      <div class="box">
        <p class="fw-bold fs-5 font">يعتمد ، <br />الرئيس التنفيذي</p>
        <p class="fs-5 my-4 p2 c-22">د/ على أبوسنه</p>
      </div>
    </div>
    <ul>
      <li class="font fs-5 c-22">
        صورة مرسلة للسيد الأستاذ/ رئيس الإدارة المركزية لمكافحة التهرب الجمركي
      </li>
      <li class="font fs-5 c-22">
        صورة مرسلة للسيد الأستاذ/ رئيس الإدارة المركزية للسياسات والإجراءات
        الجمركية
      </li>
      <li class="font fs-5 c-22">
        صورة مرسلة للسيد الأستاذ/ مدير عام سياسات التصدير بوزارة التجارة
        والصناعة
      </li>
    </ul>
    <h2 class="font me-4 fs-3">روجع :</h2>
  </div>
  <!-- end contant -->
  <button
    type="button"
    class="btn text-white font mt-4 text-center position-relative bt-end mb-3"
    (click)="changeStatus()"
  >
    ارسال
  </button>
</div>
