<div class="container mt-4">
  <app-subtitle>{{ "routingHeader.AddSubDepartment" | translate }}</app-subtitle>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group">
        <label for="name">{{ "common.name" | translate }}</label>
        <input
          type="text"
          id="name"
          class="form-control"
          formControlName="name"
          required
        />
      </div>
      <div class="form-group">
        <label for="description">{{ "common.Description" | translate }}</label>
        <input
          id="description"
          class="form-control"
          type="text"
          formControlName="description"
          required
        />
      </div>
    </div>
    
    <div class="form-row">
        <div class="form-group">
          <label for="mainDepartment">{{ "common.mainDepartment" | translate }}</label>
          <select
            id="mainDepartment"
            class="form-control"
            formControlName="mainDepartment"
            required
          >
            <option value="" disabled selected>Select a department</option>
            <option *ngFor="let department of departments" [value]="department.id">
              {{ department.name }}
            </option>
          </select>
        </div>
      </div>
      
    

    <div class="text-center">
      <button type="submit" class="btn gradient mt-3">{{ "department.submit" | translate }}</button>
    </div>
  </form>
</div>
