h5 {
    border-bottom: 1px solid black;
  }
  .new {
    background-color: var(--green);
    border: none;
    border-radius: 10px;
    color:var(--white-100);
    padding:0px 10px
  }
  .card{
    border-radius: 30px;
  }