<div class="card p-4">
  <div class="d-flex align-items-center flex-column">
    <lottie-player
      src="../../../../assets/images/animation_llw5uioc.json"
      background="transparent"
      speed="1"
      style="width: 249px; height: 249px"
      loop
      autoplay
    ></lottie-player>
    <h5 class="fw-bold">
      {{ "customer.accountActivatedSuccessfully" | translate }}
    </h5>
    <div class="py-4">
      <h6 class="fw-bold">
        <span>{{ "customer.yourUsername" | translate }} </span>
        <span> : </span>
        <span>{{ userName }}</span>
      </h6>
      <h6 class="fw-bold">
        <span>{{ "customer.yourPassword" | translate }} </span>
        <span> : </span>
        <span>{{ password }}</span>
      </h6>
    </div>
  </div>
  <h6 class="py-4">
    <span class="fw-bold">{{ "customer.warning" | translate }} </span>
    <span> : </span>
    <span>{{ "customer.keepDataUntilNeeded" | translate }} </span>
  </h6>
  <div class="py-4 text-center">
    <app-submit-button [buttonName]="'customer.done'"></app-submit-button>
  </div>
</div>
