<app-subtitle>{{ "routingHeader.changingPassword" | translate }}</app-subtitle>

<div class="container">
  <div class="card shadow p-5">
    <div class="col-md-8 mx-auto">
      <nz-form-item class="mb-3">
        <nz-form-control>
          <nz-form-label>{{
            "customer.newPassword" | translate
          }}</nz-form-label>
          <input
            nz-input
            nzSize="large"
            type="password"
            [(ngModel)]="newPassword"
            placeholder="{{ 'customer.newPassword' | translate }}"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="mb-3">
        <nz-form-control>
          <nz-form-label>{{
            "customer.confirmPassword" | translate
          }}</nz-form-label>
          <input
            nz-input
            nzSize="large"
            type="password"
            [(ngModel)]="confirmPassword"
            placeholder="{{ 'customer.confirmPassword' | translate }}"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="text-center">
      <button nz-button nzType="primary" (click)="onSubmit()">
        {{ "customer.submit" | translate }}
      </button>
    </div>
  </div>
</div>
