/* add-user.component.scss */

.container {
    max-width: 800px;
    margin: auto;
  }
  .form-control{
    height: 34px !important;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  .blue {
    background-color: #045fa4;
    color: white;
  }
  .red {
    background-color: #ff0000;
    color: white;
  }  
  .form-group {
    flex: 1;
    min-width: 300px;
    margin: 1rem;
    margin-bottom: 1rem;
  }
  
  /* Ensure no margin on the last item in a row to avoid extra spacing at the end */
  .form-group:last-child {
    margin-right: 0;
  }

  .invalid-feedback {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }
  
  
  /* Add space between each input field */
  .form-group input,
  .form-group select {
    margin-bottom: 0.5rem; /* Adjust this value for more/less space */
  }
  
  .form-group label {
    display: flex;
    align-items: center;
    font-weight: normal;
  }
  
  .form-group .required {
    color: red;
    margin-left: 0.25rem;
  }
  
  .form-control {
    width: 100%;
  }
  
  .btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
  }
  
  .btn.blue:hover {
    background-color: #0056b3;
  }
  