.card{
    border-radius: 10px;
    border: none;
}
.blue-gradient{
    background: transparent linear-gradient(180deg, #045FA4 0%, #58B4F9 100%) 0% 0% no-repeat padding-box;
}
.yellow-gradient{
    background: transparent linear-gradient(180deg, #DFB50B 0%, #E9A51CA6 100%) 0% 0% no-repeat padding-box;
}
.red{
    background-color:#FF0000;
}