img{
    width:100%;
    height:80vh;
    filter: brightness(60%);
}

.img-text{
    position: absolute;
    top: 50%;
    color:var(--white-100);
}
.en .img-text{
    left: 10%;
}
.ar .img-text{
    right: 10%;
}