<div class="row mb-5">
  <div class="col-md-4 col-6">
    <h6 class="fw-bold">{{ total.title | translate }}</h6>
  </div>
  <div class="col-md-3 col-6">
    <div class="card shadow p-2">
      <div class="row justify-content-around">
        <div class="col-auto">
          <h6 class="fw-bold">
            {{ total.number }}
          </h6>
        </div>
        <div class="col-auto">
          <h6>
            {{ total.currency | translate }}
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
