<section class="section">
  <app-subtitle>{{ "routingHeader.about-us" | translate }}</app-subtitle>

  <div class="container py-5">
    <div class="row justify-content-between flex-md-row flex-column-reverse">
      <div class="col-md-5 col-12 description">
        {{ "aboutUs.description" | translate }}
      </div>
      <div class="col-md-5 col-12 text-center mb-5">
        <img
          src="../../../../assets/images/ricardo-gomez-angel-F2iCP_knaj8-unsplash.png"
        />
      </div>
    </div>
  </div>
</section>
